*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.hero{
	height: 100vh;
	overflow-x: hidden;
	position: relative;
	animation: bgcolorer infinite 10s;
background-size: cover;
background-position: center;
}

.nav-bar{
	display: flex;
	padding: 40px 120px;
}
.nav-logo img{
	width: 195px;
	margin-top: -30px;
	margin-left:-50px;
}
ul a li.active{
	background-color: yellow;
	color:black;
	padding:  10px 15px;
}
ul a li.gandi{
	
	padding:  10px 15px;
}
.nav-links{
	flex: 1;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	font-size: 23px;
	margin-left: 55px;
	float: right;

}
.nav-links ul a{
	color: #fff;
	text-decoration: none;
	font-size: 13px;
}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: yellow;
	display: block;
	margin: auto;
	transition: .5s;
}
.nav-links ul li:hover:after{
	width: 100%;
}
.btn{
	padding: 10px 20px;
	border: 0px;
	background: yellow;
	font-weight: bold;
	cursor: pointer;
	font-size: 20px;
}
.btn a{
	color: black;
}
.nav-links .btn{
	float: right;
}
.banner-title{
	margin: 80px 130px;
	color: #fff;
}
.banner-title h1 {
	font-size: 44px;
	margin-bottom: 30px;
}
.banner-title h1 span{
	color: yellow;
}

.banner-title1{
	margin: 200px -30px;
	color: #fff;
}
.banner-title1 h1 {
	font-size: 34px;
	margin-bottom: 30px;
}
.banner-title1 h1 span{
	color: yellow;
}
.banner-title3{
	margin: 140px 140px;
	color: #fff;
}
.banner-title3 h1 {
	font-size: 34px;
	margin-top: 70px;
}
.banner-title3 h1 span{
	color: yellow;
}

.wrapper{
	float: left;
	margin-top: -110px;
	margin-left: 100px;
	

}

.wrapper .button{
display: inline-block;
height: 60px;
width: 60px;
float: left;
overflow: hidden;
background: white;
border-radius: 50px;
cursor: pointer;
box-shadow: 0px 10px 10px rgba(0,0,0.1);
transition: all 0.3s ease-out;
margin-left: 30px;



}
.wrapper .button:hover{
	width: 60px;


}
.wrapper .button .icon{
	display: inline-block;
	height: 60px;
	width: 60px;
	text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;

}
.wrapper .button .icon i{
	font-size: 42px;
	line-height: 60px;
	text-align: center;


}
.wrapper .button:nth-child(1):hover .icon{
	background: #3498db;
}
.wrapper .button:nth-child(3):hover .icon{
	background: skyblue;
	}
.wrapper .button:nth-child(2):hover .icon{
	background: lightpink;
	}

.wrapper .button .icon a{
	color: black;
}
.contents{
	flex-basis: 50%;
	padding: 10px;
}
.notification-img{
	flex-basis: 50%;

}
.notification-img img{
	width: 100%;

}
.contents a{
	text-decoration: none;
	color: #000;
	font-size: 13px;
	margin: 0 10px;
}
.contents p{
	text-align: right;
	margin-top: 10px;
}
.nav-bar .fas{
	display: none;
}
.text{
	margin: 240px 110px;

}
.text h2{
	font-size: 28px;
	float: center;
	color: white;

}
.text h1 span{
	font-size: 38px;
	float: center;
	color: yellow;

}
.text2{
	margin: 290px 110px;

}
.text2 h1{
	font-size: 28px;
	float: center;
	color: white;

}
.text2  h2{
	font-size: 38px;
	color: yellow;

}
.text3{
	margin: 340px 110px;

}
.text3 h1{
	font-size: 28px;
	float: center;
	color: white;

}
.text3  h2{
	font-size: 38px;
	color: yellow;

}
.text4{
	margin: 390px 110px;

}
.text4 h1{
	font-size: 28px;
	float: center;
	color: white;

}
.text4  h2{
	font-size: 38px;
	color: yellow;

}
.text5{
	margin: 440px 110px;

}
.text5 h1{
	font-size: 28px;
	float: center;
	color: white;

}
.text5  h2{
	font-size: 38px;
	color: yellow;

}
.bolo{
	border: 7px   black;
	 text-align: center;
	 font-size: 29px; 
	 width: 100%;
     margin-bottom:50px; 
	 border-radius: 15px;
	}
.bolo h1 {

}


@keyframes bgcolorr{
	0%
	{
		background:#1e272e; 
	}20%
	{
		background:#485460; 
	}
	40%
	{
		background:#485460; 
	}60%
	{
		background:#485460; 
	}80%
	{
		background:#1e272e; 
	}
	100%
	{
		background:#485460; 
	}
}
@keyframes bgcolor{
	0%
	{
		background: #ffda79; 
	}40%
	{
		background:#fffa65; 
	}
	60%
	{
		background:#fff200; 
	}80%
	{
		background:#fffa65; 
	}100%
	{
		background:#ffda79; 
	}
}
@keyframes bgcolorer{
	0%
	{
		background:#474787; 
	}20%
	{
		background:#2c2c54; 
	}
	40%
	{
		background:#40407a; 
	}60%
	{
		background:#706fd3; 
	}80%
	{
		background:#474787; 
	}
	100%
	{
		background:#40407a; 
	}
}
@media (max-width: 700px){
	body{
		height: auto;
	}
	.wrapper{
	float: left;
	margin-left: 30px;
	margin-top: 100px;
	

}
	.banner-title{
		margin: 80px 40px;

	}
	.banner-title h1{
		font-size: 50px;
	}
	.text{
	margin: 200px 40px;

}
.text h1{
	font-size: 50px;
	
}
.text{
	margin: 200px 40px;

}
.text h1{
	font-size: 50px;
	
}
.text1{
	margin: 200px  -40px;


}
.text1 h1{
	font-size: 50px;
	
}

.text1{
	margin: 200px  40px;


}
.text1 h1{
	font-size: 18px;
	
}
.text1 h2{
	font-size:29px;
}
.text2{
	margin: 200px  40px;


}
.text2 h1{
	font-size: 18px;
	
}

.text2{
	margin: 200px  40px;


}
.text2 h1{
	font-size: 18px;
	
}
.text2 h2{
	font-size:29px;
}
.text3{
	margin: 200px  40px;


}
.text3 h1{
	font-size: 18px;
	
}

.text3{
	margin: 200px  40px;


}
.text3 h1{
	font-size: 18px;
	
}
.text3 h2{
	font-size:29px;
}
.text4{
	margin: 200px  40px;


}
.text4 h1{
	font-size: 18px;
	
}

.text4{
	margin: 200px  40px;


}
.text4 h1{
	font-size: 18px;
	
}
.text4 h2{
	font-size:29px;
}
.text5{
	margin: 200px  40px;


}
.text5 h1{
	font-size: 18px;
	
}
.text5 h2{
	font-size:29px;
}
.text5{
	margin: 200px 40px;


}
.text5 h1{
	font-size: 18px;
	
}



	.notifications{
		width: 100%;
	}
	.nav-bar{
		padding: 10px 30px;
	}
	.fa-bars{
		position: absolute;
		right: 20px;
		right: 10px;
	}
	.nav-bar .fas{
		display: block;
		color: #fff;
		margin: 10px 25px;
		font-size: 22px;
		cursor: pointer;
	}
	.nav-links{
		height: 100vh;
		width: 200px;
		background: #000;
		top: 0;
		right: -200px;
		position: absolute;
		text-align: left;
		z-index: 2;
		transition: 0.5s
	}
      .nav-links ul li{
		font-size: 20px;
	}
	.nav-links ul a{
		display: block;
		margin-right: 50px;
		font-size: 20px;
	}
	.nav-links .btn{
		float: none;
margin-left: 50px;
margin-top: 10px
	}
	.social-icon .fab{
		float: none;
margin-left: 50px;
margin-top: 50px

	}

}